body {
  margin-left: 15px;
  margin-right: 14px;
  font-family: Inter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0px;
}

@media only screen and (min-width: 780px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
